.DS_Store
.dropbox
.project
.coverage
.pydevproject
*.code-workspace
Pipfile*.*
/.settings
/htmlcov
/build
/dist
/docs/_build
/references
/pynmeagps_*
/pynmeagps-*
src/pynmeagps.egg*
/__pycache__
/.dbeaver
/pynmeagps/__pycache__
*.pyc
/examples/temp*.py
/.pytest_cache/
pylint_report.txt
.venv
/conda
setup.cfg
