.DS_Store
.dropbox
.project
.coverage
.pydevproject
*.code-workspace
.vscode
Pipfile*.*
/.settings
/htmlcov
/build
/dist
/docs
/references
/pynmeagps_*
/pynmeagps-*
/pynmeagps.egg*
/__pycache__
/.dbeaver
/pynmeagps/__pycache__
*.pyc
/examples/temp*.py
/.pytest_cache/
pylint_report.txt
